name: CI
on:
  push:
    branches: [ master]
  pull_request:
    branches: „Äêmaster]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checktout@v2
    - name: Run a one-line script
      run: echo Hello, world!
    - name: Run a multi-line script
      run:
        echo Add other actions to build,
        echo test, and deploy your project.
        
